header{
    background-color:#1d3557 ;
    width: auto;
    height: 20vh;
    padding:0;
    margin:0;
    border: 1px black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px ;
}
.NomPrénom{
    color:#f1faee;
    position: absolute;
    top: 5%;
    left: 7%;
    font: 2.5em "Verdana",sans serif;  
}  
body{
    background-color: #f1faee;
}
footer{
    background-color: #1d3557;
    height:10vh;
    width: auto;
    border: 1px black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px ;

}
.Menu{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color:#457b9d;
    width: 15vw;
    height: 70vh;
    border: 1px  black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px ;
    margin-top: 1%;;
}
.LienMenu{
    color:#f1faee;
    text-decoration: none;
    font: 1.5em "Verdana",sans serif;
    text-align: center;   
}
.LienMenu:hover{
    text-decoration: underline;
}
.Titre{
    font-family: "Verdana", sans serif;
    text-decoration: underline;
}
.Par{
    font: 1.2em "Verdana",sans serif;
}
.Link{
    text-decoration: none;
    color: blue;
    font: 1.2em "Verdana", sans serif;
}
.LinkLinkedin:hover{
    text-decoration:underline;
}
section{
    position: relative;
    top:-30em;
    left:24%;
    height:0;
}
#ToTop {
    position: fixed; 
    bottom: 3%; 
    right: 2%; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color:#f1faee;
    cursor: pointer;
    padding: 0.7%;
    border-radius: 10px; 
  }
  
  #ToTop:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  #ToTop:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  form {
    margin: 0 auto;
    width: 20%;
    padding: 3%;
    padding-top: 3%;
    border: 1px solid black;
    border-radius: 1em;
    position: relative;
    top: -5em;
    left:-15%;
    height:20em;
    background-color: #e63946;
    font: 1.2em "Verdana",sans serif;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 100px;
    text-align: left;
  }
  
  input, textarea {
    font: 1em sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 10em;
  }
  
  .button {
    padding-left: 90px; 
  }
  
  button {
    margin-left: .5em;
  }
  #F1{
      font: 1.2em "Verdana",sans serif;
      position: relative;
      top: -5em;
      left:13%;
  }
