@media (min-width:1350px){
  header{
      background-color:#1d3557 ;
      width: 100%;
      height: 20vh;
      border: 1px black;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px ;
      display: flex;
      justify-content: center;
  }
  .NomPrénom{
    color:#f1faee;
    font-size: 200%;
    font-family: "Verdana",sans serif;
}  
  body{
      background-color: #f1faee;
      min-height: 100%;
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  footer{
      background-color: #1d3557;
      height:10vh;
      width: 100%;
      border: 1px black;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px ;
      display: flex;
      justify-content: center;
      position: relative;
      bottom: 0;
  }
  .Menu{
      display: flex;
      flex-direction: column;
      justify-content:space-around;
      background-color:#457b9d;
      width: 15vw;
      height: 70vh;
      border: 1px  black;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px ;
      margin-top: 1%;;
      margin-bottom: 1%;
  }
  .LienMenu{
      color:#f1faee;
      text-decoration: none;
      font-size: 150%;
      font-family: "Verdana", sans serif;
      text-align: center;   
  }
  .LienMenu:hover{
      text-decoration: underline;
  }
  .Titre{
      font-family: "Verdana", sans serif;
      text-decoration: underline;
      margin: 5%;
  }
  .Par{
      font-size: 120%;
      font-family: "Verdana", sans serif;
  }
  .Link{
      text-decoration: none;
      color: blue;
      font-size: 120%;
      font-family: "Verdana", sans serif;
  }
  .Link:hover{
    text-decoration: underline;
  }
  section{
      position: relative;
      top:-40em;
      left:24%;
      height: 0;
      width: 68%;
  }
  #ToTop {
      border: 1px solid black;
      outline: none; 
      background-color:#f1faee;
      cursor: pointer;
      padding: 5%;
      border-radius: 10px; 
    }
    #ToTop:hover {
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
    form {
      margin: 0 auto;
      width: 20%;
      padding: 3%;
      border: 1px solid black;
      border-radius: 1em;
      height:20em;
      background-color: #e63946;
      font-size: 120%;
      font-family: "Verdana", sans serif;
    }
    label {
      display: inline-block;
      width: 100px;
      text-align: left;
    }
    input, textarea {
      font-size: 1em;
      font-family: "Verdana", sans serif;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #999;
      border-radius: 10px;
    }
    input:focus, textarea:focus {
      border-color: #000;
    }
    textarea {
      vertical-align: top;
      height: 10em;
    }
    #buttonform{
      font-family: "Verdana",sans serif;
      border-radius: 10px;
    }
    #F1{
      font-size: 120%;
      font-family: "Verdana", sans serif;
      margin-left: 20%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    #f2{
      color:#f1faee;
      font-family: "Verdana", sans serif;
      margin-top: 5%;
    }
    #style1{
      border: 1px solid black; 
      outline: none; 
      background-color:#f1faee;
      cursor: pointer;
      padding: 2%;
      border-radius: 10px; 
      font-family: "Verdana", sans serif;
    }
  #style1:hover {
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  #style2{
      border:1px solid black; 
      outline: none; 
      background-color:#f1faee;
      cursor: pointer;
      padding: 2%;
      border-radius: 10px; 
      font-family: "Verdana", sans serif;
    }
  #style2:hover {
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  .button{
    width: 15vw;
    position: fixed;
    bottom:3%;
    right: 3%;
    display: flex;
    justify-content: space-around;
  }
}
/*Petit Ecran*/
@media (max-width:1350px){
  header{
      background-color:#1d3557 ;
      width: 100%;
      height: 15vh;
      border: 1px black;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px ;
    }
  .NomPrénom{
      color:#f1faee;
      margin-top: 10px; 
      display:flex;
      justify-content: center;
      font-size: 200%;
      font-family: "Verdana", sans serif;
    }  
  body{
      background-color: #f1faee;
    }
    .container{
      display: flex;
      flex-direction: column;
    }
  footer{
      background-color: #1d3557;
      height:10vh;
      width: 100%;
      border: 1px black;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px ;
      display: flex;
      justify-content: center;
    }
  .Menu{
      display: flex;
      justify-content:space-around;
      align-items: center;
      background-color:#457b9d;
      width: 100%;
      height: 7vh;
      border: 1px  black;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px ;
      margin-top: 1%;
      margin-bottom: 1%;
    }
  .LienMenu{
      color:#f1faee;
      text-decoration: none;
      font-size: 150%;
      font-family: "Verdana", sans serif;
      vertical-align: center;   
    }
  .LienMenu:hover{
      text-decoration: underline;
    }
  .Titre{
      font-family: "Verdana", sans serif;
      text-decoration: underline;
    }
  .Par{
      font-size: 120%;
      font-family: "Verdana", sans serif;
    } 
  .Link{
      text-decoration: none;
      color: blue;
      font-size: 120%;
      font-family: "Verdana", sans serif;
    }
  .LinkLinkedin:hover{
      text-decoration:underline;
    }
  #ToTop {
      border: none; 
      outline: none; 
      background-color:#f1faee;
      cursor: pointer;
      padding: 3%;
      border-radius: 10px; 
    }
  #ToTop:hover {
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  form {
      margin: 0 auto;
      width: 20%;
      padding: 3%;
      border: 1px solid black;
      border-radius: 1em;
      height:20em;
      background-color: #e63946;
      font-size: 120%;
      font-family: "Verdana", sans serif;
    }      
  label {
      display: inline-block;
      width: 100px;
      text-align: left;
    }    
  input, textarea {
      font-family: "Verdana", sans serif;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #999;
      border-radius: 10px;
    }    
  input:focus, textarea:focus {
    border-color: #000;
    }    
  textarea {
      vertical-align: top;
      height: 10em;
    }
  #buttonform{
    font-family: "Verdana",sans serif;
    border-radius: 10px;
    }        
  #F1{
      font-size: 120%;
      font-family: "Verdana", sans serif;
      position: relative;
      left:13%;
    }
  #f2{
      color:#f1faee;
      font-family: "Verdana", sans serif;
    }
  #style1{
      border: 1px solid black; 
      outline: none; 
      background-color:#f1faee;
      cursor: pointer;
      padding: 3%;
      border-radius: 10px; 
      font-family: "Verdana", sans serif;
    }
  #style1:hover {
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  #style2{
      border:1px solid black; 
      outline: none; 
      background-color:#f1faee;
      cursor: pointer;
      padding: 3%;
      border-radius: 10px; 
      font-family: "Verdana", sans serif;
    }
  #style2:hover {
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  .button{
    width: 15vw;
    position: fixed;
    bottom:3%;
    right: 3%;
    display: flex;
    justify-content: space-around;
  }
}